.InfoBanner {
  background-color: #f5eaea;
  padding: 26px 29px;
  margin: 20px 0 15px 0;
  border-radius: 21px;
  font-size: 15px;
  font-weight: 500;
}
.red {
  color: #c72831;
  cursor: pointer;
}
