@import url("https://fonts.googleapis.com/css2?family=Andika:ital@1&family=Inter:wght@400;500;700&display=swap");
/*
font-family: 'Andika', sans-serif;
font-family: 'Inter', sans-serif;
*/
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --green: #44e16773;
  --red: #ff8686;
  --redAccent: #c72831;
  --black: #000000;
}
